body > p:first-child{color: red;}

p.a:hover{color: red;}
p.a:focus{color: blue;}
p.a:active{color: green;}


p.a.c > span{color: red;}
p.a.c > span span:first-child{color: green;}
p.a.c > span span:last-child{color: blue;}

div a:link {color: pink;}
div a:visited {color: orange ;}


div a[href*="a@b.com"]{color: blue ;}
div a[href^="tel"]{color: yellow ;}
div a[href$="pdf" i]{border: 3px solid ;}

div.a ul li:nth-child(4){color: red;}
div.a ul li:nth-child(5){color: red;}
div.a ul li:nth-child(6){color: red;}
div.a ul li:nth-child(7){color: red;}


div.b ul li:nth-child(-n+25){color: red;}
div.b ul li:nth-child(n+35):nth-child(-n+50){color: blue;}
div.b ul li:nth-child(n+65){color: green;}


div.prime ul li:nth-child(1){color: yellow;}
div.prime ul li:nth-child(2n+4){color: blue;}
div.prime ul li:nth-child(3n+9){color: blue;}
div.prime ul li:nth-child(5n+25){color: blue;}
div.prime ul li:nth-child(7n+49){color: blue;}
