body > p:first-of-type{
  color: red;
}

[tabindex="1"]:focus {
  color: blue;
}
[tabindex="1"]:hover {
  color: red;
}
[tabindex="1"]:active {
  color: green;
}

/* p.a.c > span:first-child{
  color: red;
}

p > span > span:first-child{
  color: green;
}
p > span > span:last-child{
  color: blue;
} */

 p.a.c span{color: red;}

p.a.c span span{color: green;}

p.a.c span :last-child{color: blue;}

/* div :visited{
  color: orange;
}
div :link{
  color: pink;
} */

a:visited{
  color:orange;
}

a:link{
  color:pink ;
}

/* a[href*="a@b"]{
  color: blue;
} */

a[href^="MAILTO:" i]{
  color:blue;
}

a[href$="12345678"]{
  color: yellow;
}
/* a[href*="tel"]{
  color: yellow;
} */

/* a[href^="aaa" i]{
  font-size: 30px;
} */
a[href$="pdf" i]{
  font-size: 30px;
}

div.a ul li:nth-of-type(4),
div.a ul li:nth-of-type(5),
div.a ul li:nth-of-type(6),
div.a ul li:nth-of-type(7){
  color: red;
}


div.b ul li:nth-of-type(-n+25){
  color: red;
}
div.b ul li:nth-of-type(n+35):nth-of-type(-n+50){
  color: blue;
}
div.b ul li:nth-of-type(n+65){
  color: green;
}


/* div.prime ul li:nth-of-type(2n+4){
  color: red;
}
div.prime ul li:nth-of-type(3n+9){
  color: red;
}
div.prime ul li:nth-of-type(5n+25){
  color: red;
}
div.prime ul li:nth-of-type(7n+14){
  color: red;
} */

.prime ul li:not(:nth-of-type(2n+4)):not(:nth-of-type(3n+9)):not(:nth-of-type(5n+25)):not(:nth-of-type(7n+14)):not(:first-child) {
  color:yellow;
  border:20px solid;
}
.prime ul li:nth-of-type(1){
  color: green;
}


/* .prime li:not(:nth-child(7n + 49)):not(:nth-child(5n + 25)):not(:nth-child(3n + 9)):not(:nth-child(2n + 4)):not(:first-child) {
  border: 2px solid;
} */
